#index
  .index-box
    %h2
      My birthday
  #birthday-box.index-box
    %select{ :id => 'search-month' }
      %option{ :value => "" } Month
      %option{ :value => "01" } January
      %option{ :value => "02" } February
      %option{ :value => "03" } March
      %option{ :value => "04" } April
      %option{ :value => "05" } May
      %option{ :value => "06" } June
      %option{ :value => "07" } July
      %option{ :value => "08" } August
      %option{ :value => "09" } September
      %option{ :value => "10" } October
      %option{ :value => "11" } November
      %option{ :value => "12" } December
    %select{ :id => 'search-day' }
      %option{ :value => "" } Day
      - (1..31).to_a.each do |day|
        %option{ :value => sprintf('%02d', day)} #{day}
    %select{ :id => 'search-year' }
      %option{ :value => "" } Year
      - (1800..2011).to_a.each do |year|
        %option{ :value => sprintf('%04d', year)} #{year}
  #submit-wrapper.index-box
    %button#submit
      Go
  #error.index-box
