%h2#plot-title Age at death of dead Americans born on #{@item[:birthday_words]}

#age-plot
  A plot is loading
#state-plot
  A plot is loading

%h2#table-title More about the dead Americans born on #{@item[:birthday_words]}

%table#deadpeople.dataTable
  %thead
    %tr
      %th First
      %th Middle
      %th Last
      %th Died
      %th Age
      %th.date_of_death Date of death
      %th State
  %tbody
    -# This gets filled with javascript
