%p These dead Americans were born on #{@item[:birthday_words]}.
#plot
  Plot goes here.

%table#deadpeople.dataTable
  %thead
    %tr
      %th First
      %th Middle
      %th Last
      %th Died
      %th Age
      %th.date_of_death Date of death
      %th State
  %tbody
    -# This gets filled with javascript
