%p These dead Americans were born on #{@item[:birthday_words]}.
#plot
  Plot goes here.

%table#deadpeople.dataTable
  %thead
    %tr
      %td First
      %td Middle
      %td Last
      %td Died
      %td Age
      %td.date_of_death Date of death
      %td State
  %tbody
    -# This gets filled with javascript
