=@item[:birthday]
%p These dead Americans were born around the same time you were.
#plot
  Plot goes here.

%table#deadpeople
  %thead
    %tr
      %td First
      %td Middle
      %td Last
      %td Died
      %td Age
      %td.date_of_death Date of death
      %td State
  %tbody
    -# This gets filled with javascript
