//.date_of_death
  display: none

#age-plot, #state-plot
  width: 100%
  height: 240px

h2
  text-align: center
  margin:
    top: 25px
    bottom: 10px

.no-js #main
  display: none

.js #main-no-js
  display: none

body
  background-color: #EEE

html, body, p, input, select, option, button
  font-family: 'Yanone Kaffeesatz', 'Oswald', sans-serif

h1, h2, h3, h4, h5, h6, strong, th
  font-weight: 700

html, body, p, input
  font-weight: 300

header
  margin: 0
  text-align: center

.main
  width: 960px
  max-width: 100%
  margin:
    left: auto
    right: auto

#error
  color: red

a
  color: inherit
  text-decoration: inherit
  &:visited
    color: inherit
    text-decoration: inherit
  &:hover
    color: inherit
    text-decoration: inherit

#index
  margin-top: 40px

.index-box
  width: 315px
  margin:
    top: 5px
    bottom: 15px
    left: auto
    right: auto
  text-align: center
  height: 30px
  button, select
    height: 100%
    width: 90px
    padding:
      left: 2px
      right: 2px
    margin:
      left: 3px
      right: 3px

//#index
  width: 320px
  height: 240px
  padding: 20px
  background-color: red

*
  margin: 0
  padding: 0

::selection
  background: #F6A828

// Begin sticky footer

html, body
  height: 100%

body
  position: relative

footer
  position: absolute
  top: 0
  right: 0

// End sticky footer

#links
  margin: 0
  padding: 0
  width: 4.5em
  color: #EEE
  background-color: #444
  float: right
  list-style: none
  li
    float: left
    width: 1em
    font-weight: 700
    padding: 0.25em
    text-align: center
